# Markdown

## Introduction of Data Science Tools:-

### Data Science language:-

1. Python
2. R
3. julia
4. SQl
5. Scala
6. Java
7. Mongodb

### Data Science libries: -

1. Panda
2. Numpy
3. Scipy
4. Matplotlib
5. Scikit-Learn
6. GGplot
7. dyplr

| Data Science |
| ------------ |
| Jupyter Notebook |
| Rstudio |
| Tableau |
| Watson Studio |
| Anaconda |
| VS Code |

# Arithmetic Expression

#### In this expression, we are adding, subtracting and multiply the numeric values.

##### For example

In [1]:
2+2

4

In [2]:
(60+70)*80

10400

# CODE

In [10]:
min = 140
hours = min// 60
mins = min %60
print( hours,mins)

2 20

### Unorderd List

in Python, we used (-) to crete an unordered list.

- Data
  - structure 
  - unstructured 
  - semi-structure 

- Big Data
   - Hadoop

# Author

Ribhika
Githubi'd:- @ribhi01