# This is a Markdown title

## Markdown is a very versatile language, and it can be used to create a variety of different types of documents. It is a great choice for people who want to create formatted text without having to learn a complex markup language.

#### Data science languages are programming languages that are specifically designed for data science tasks. They are typically used to manipulate and analyze data, build machine learning models, and create data visualizations.
1. Python
2. R
3. Julia
4. SQL
5. Scala
6. SAS

### some of the most popular data science libraries:
1. Pandas
2. Numpy
3. Scipy
4. Matplotlib
5. Scikit-Learn

#### some of the most popular data science tools:
1. Jupyter Notebook
2. RStudio
3. Tableau
4. Watson Studio
5. IBM SPSS Modeler

## Arithmetic expression
### An arithmetic expression is a mathematical expression that uses numbers, variables, and arithmetic operators to represent a mathematical operation. The results of these expressions are always numeric values.

In [1]:
2+2

4

In [2]:
(20+45)*80

5200

## Convert min into hours

In [5]:
def convert_min_into_hours(min):
    hours = min // 60
    minutes_remainder = min % 60
    return hours, minutes_remainder

if __name__ == "__main__":
  min = 140
  hours, minutes_remainder = convert_min_into_hours(min)
  print(f"{min} minutes is equal to {hours} hours and {minutes_remainder} minutes.")

140 minutes is equal to 2 hours and 20 minutes.

# Cell insertion

.In Markdown, you can insert a new cell by typing three hyphens (---) on a new line.
.This will create a new, blank cell.
.You can also insert a cell with pre-formatted text by typing four spaces before the text.
.This will create a new cell with the text formatted as code.

# Unordered list

.In Markdown, you can create an unordered list by starting a line with a dash (-) followed by a space.
.You can then add items to the list by typing the item on the same line, followed by a comma and a space.

item 1
item 2
item 3
item 4
item 5

- Item 1
  - Item 1.1
  - Item 1.2
- Item 2

# BY Ribhika