# Data Science

#### Intoduction
we are summering the Data Science Tools.

### There are many languages used in data Science. Here they are:-
1. Python
2. R
3. julia
4. SQl
5. Scala
6. Java
7. Mongodb

### There are many libraries used in data Science. Here they are:-
1. Panda
2. Numpy
3. Scipy
4. Matplotlib
5. Scikit-Learn
6. GGplot
7. dyplr

| Data Science |
| ------------ |
| Jupyter Notebook |
| Rstudio |
| Tableau |
| Watson Studio |
| Anaconda |
| VS Code |

### Arithmetic Expression
#### we are adding, subtracting and multiply the numeric values.
##### For example

In [2]:
22+34

56

In [3]:
### in this expression we add and multiply values
(22*23)+5

511

# Code

### in this code, we convert min to hrs

In [9]:
min = 140
hours = min// 60
mins = min %60
print( hours,'hrs',mins,'min')

2 hrs 20 min

***Objective***
- Data
  - structure 
  - unstructured 
  - semi-structure 

- Big Data
   - Hadoop

# Author
***Ribhika***